@import "tailwindcss";

:root {
  --background: #F3F3F3;

}

@theme inline {
  --color-background: var(--background);
  --color-defined-green:#34A853;
  --color-defined-black:#202124;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
