@import "tailwindcss";

:root {
  --background: #f3f3f3;
}

button {
  cursor: pointer;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out;
}
@theme inline {
  --color-background: var(--background);
  --color-defined-green: #34a853;
  --color-defined-black: #202124;
  --color-defined-yellow:#FFBB00;
  --color-foreground: var(--foreground);
  --font-dm-sans: var(--font-dm-sans);
  --breakpoint-sm: 280px;
  --breakpoint-md: 760px;
  --breakpoint-lg: 1024px;
  --breakpoint-xlg: 1280px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1920px;
  --breakpoint-xxxl: 2480px;
}

.self-padding {
  @apply max-w-[1200px] xl:max-w-[1300px] xxl:max-w-[1600px] xxxl:max-w-[1800px] xxl:px-12 xxxl:px-12 lg:px-8 px-4  mx-auto;
}

/* Custom thin scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 2px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.4s ease-out forwards;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}


@keyframes slide-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}